USE [x3dev0]
GO
/****** Object:  StoredProcedure [DEV00].[BB_ELA_BANK_VALIDATION]    Script Date: 21/11/2018 9:30:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [DEV00].[BB_ELA_BANK_VALIDATION] 
(	
	@BANLIG VARCHAR(10),
	@YELALIG VARCHAR(50)
)
AS
BEGIN

	DECLARE @SRCBAN VARCHAR(10),
			@NXTSRCBAN VARCHAR(10),
			@YBANPRNSTA  INTEGER

	SELECT @SRCBAN = YELABAN_0 FROM BANK WHERE BAN_0 = @BANLIG	
	
	IF @SRCBAN <> ''
	BEGIN
		SELECT @NXTSRCBAN = YELABAN_0 FROM BANK WHERE BAN_0 = @SRCBAN 
		IF @NXTSRCBAN = ''
		BEGIN
			DELETE FROM [YBANELA] WHERE YELA_0 = @YELALIG
			INSERT INTO [YBANELA]([UPDTICK_0],[YBAN_0],[YELA_0],[YBANPRI_0],[YBANCPY_0],[CREDATTIM_0],[UPDDATTIM_0],[AUUID_0],[CREUSR_0],[UPDUSR_0],[YTREACC_0])
			SELECT 1, @SRCBAN, @YELALIG,YBANPRNSTA_0,CPY_0,GETDATE(), GETDATE(),NEWID(),'SQL','SQL',TREACC_0 FROM BANK WHERE BAN_0 = @SRCBAN
		END
		ELSE
		BEGIN
			WHILE @NXTSRCBAN <> ''
			BEGIN			
				SELECT @NXTSRCBAN = YELABAN_0 FROM BANK WHERE BAN_0 = @SRCBAN 
				IF @NXTSRCBAN <> ''
				BEGIN
					SET @SRCBAN = @NXTSRCBAN
				END	
			END
			DELETE FROM [YBANELA] WHERE YELA_0 = @YELALIG 
			INSERT INTO [YBANELA]([UPDTICK_0],[YBAN_0],[YELA_0],[YBANPRI_0],[YBANCPY_0],[CREDATTIM_0],[UPDDATTIM_0],[AUUID_0],[CREUSR_0],[UPDUSR_0],[YTREACC_0])
			SELECT 1, @SRCBAN, @YELALIG,YBANPRNSTA_0,CPY_0,GETDATE(), GETDATE(),NEWID(),'SQL','SQL',TREACC_0 FROM BANK WHERE BAN_0 = @SRCBAN
		END
	END
		
END

