USE [x3dev0]
GO
/****** Object:  StoredProcedure [DEV00].[BB_BALANCE_VALIDATION]    Script Date: 21/11/2018 9:21:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [BB_BALANCE_VALIDATION] 'BB20181100016'

ALTER PROCEDURE [DEV00].[BB_BALANCE_VALIDATION] 
(	
	@YBATNBR VARCHAR(25)
)
AS
BEGIN
	
	DECLARE @DEBSUM INT,
			@CRDSUM INT,
			@MINTRANSNBR INT,
			@MAXTRANSNBR INT,
			@MAXLIGCOUNT INT,
			@MINLIGCOUNT INT
	
	SELECT @MAXTRANSNBR = MAX(YTRANSNBR_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR
	SELECT @MINTRANSNBR = MIN(YTRANSNBR_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR
	
	WHILE @MINTRANSNBR <= @MAXTRANSNBR
	BEGIN	
	print @MINTRANSNBR
		-- CHECK BALANCE = 0
		SELECT @DEBSUM = SUM(YDEB_0), @CRDSUM = SUM(YCDT_0)
		FROM YBBDETAILTEM
		WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR

		select @DEBSUM,@CRDSUM
		 
		IF @DEBSUM - @CRDSUM <> 0
		BEGIN
			-- WRITE ERROR LINE
			-- PRINT 'BALANCE NOT 0' -- DEBUG
			SELECT @MAXLIGCOUNT = MAX(YDETLIG_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR
			SELECT @MINLIGCOUNT = MIN(YDETLIG_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR
			WHILE @MINLIGCOUNT <= @MAXLIGCOUNT
			BEGIN
				--SELECT [YBATNBR_0],[YBATNBR_0]+'-'+CAST(YDETLIG_0 AS VARCHAR(10))[YSRC_0],[YDETLIG_0],[YFCY_0],[YENTTYP_0],[YJOU_0],
				--	   [YDETDES_0],[YACC_0],[YLIGDES_0],'BALANCE DOES NOT EQUAL TO 0'[MESSAGE],[YDETLIG_0] 
				UPDATE YBBDETAILTEM 				
				SET YRESVAL_0 = 'BAL1'
				WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR AND YDETLIG_0 = @MINLIGCOUNT
				SET @MINLIGCOUNT += 1
			END
		END	
		SET @MINTRANSNBR += 1
	END
	
	
END