USE [x3dev0]
GO
/****** Object:  StoredProcedure [DEV00].[BB_IE_TRANSACTION_VALIDATION]    Script Date: 12/02/2019 12:27:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- EXEC [BB_IE_TRANSACTION_VALIDATION] 'BB181200049'
 -- 
ALTER PROCEDURE [DEV00].[BB_IE_TRANSACTION_VALIDATION] --'BB20181100085'
(	
	@YBATNBR VARCHAR(25)	
)
AS
BEGIN -- 1

	DECLARE @BATTYP INT,
		    @MINTRANSNBR INT,
			@MAXTRANSNBR INT,
			@MAXFCYCOUNT INT,
			@ELACOUNT    INT,
			@FCYCOUNT	 INT,
			@ELAFCY1	 VARCHAR(10),
			@ELAFCY2	 VARCHAR(10),
			@ELAAGR1	 VARCHAR(50),
			@ELAAGR2	 VARCHAR(50),
			@ELASHTPTH	 VARCHAR(250),
			@PROVIDER1	 VARCHAR(10),
			@PROVIDER2	 VARCHAR(10),
			@FCY1    	 VARCHAR(10),
			@FCY2    	 VARCHAR(10),
			@SUMDRFCY1	 DECIMAL(9,2),
			@SUMCRFCY1   DECIMAL(9,2),
			@SUMDRFCY2	 DECIMAL(9,2),
			@SUMCRFCY2   DECIMAL(9,2)

	SELECT @MAXTRANSNBR = MAX(YTRANSNBR_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR
	SELECT @MINTRANSNBR = MIN(YTRANSNBR_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR
	
	WHILE @MINTRANSNBR  <= @MAXTRANSNBR
	BEGIN -- 2	
	SELECT @BATTYP = YBATTYP_0 from YBBDETAILTEM Where YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR	
		IF @BATTYP = 1
		BEGIN -- 3
			-- CHECK DISTINCT SITE FOR SAME ELA 
			SELECT @FCYCOUNT = COUNT(DISTINCT(YFCY_0)) FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
			SELECT @ELACOUNT = COUNT(DISTINCT(YELA_0)) FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR and YELA_0 <> ''
			IF @ELACOUNT = 2 AND @FCYCOUNT = 2
			BEGIN -- 4.1
				SELECT distinct top 1 @ELAFCY1 = YFCY_0 FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
				SELECT distinct top 1 @ELAAGR1 = YELA_0 FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR and YFCY_0 = @ELAFCY1

				SELECT distinct top 1 @ELAFCY2 = YFCY_0 FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 <> @ELAFCY1
				SELECT distinct top 1 @ELAAGR2 = YELA_0 FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY2
				
				-- CHECK SUM FOR DR/CR PER SITE NOT EQUAL TO 0
				SELECT DISTINCT top 1 @FCY1 = YFCY_0 FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
				SELECT DISTINCT @FCY2 = YFCY_0 FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 <> @FCY1

				SELECT @SUMDRFCY1 = SUM(YDEB_0), @SUMCRFCY1 = SUM(YCDT_0) FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @FCY1
				SELECT @SUMDRFCY2 = SUM(YDEB_0), @SUMCRFCY2 = SUM(YCDT_0) FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @FCY2

				IF (@SUMDRFCY1 - @SUMCRFCY1 = 0)
				BEGIN -- 4.1.0
					UPDATE YBBDETAILTEM
					SET YRESVAL_0 = 'FCY1BAL0'
					WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @FCY1
				END
				IF (@SUMDRFCY2 - @SUMCRFCY2 = 0)
				BEGIN	
					UPDATE YBBDETAILTEM
					SET YRESVAL_0 = 'FCY2BAL0'
					WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @FCY2	
				END -- 4.1.0
				ELSE
				BEGIN -- 4.1.0				
					-- Update From and To Site in TEMP Table to read to simulation lines
					Update YBBDETAILTEM
					SET YFRMFCY_0 = @ELAFCY1, YTOFCY_0 = @ELAFCY2
					WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
				
					IF (@ELAAGR1 <> '' AND @ELAAGR2 <> '')
					BEGIN -- 4.1.1
						EXEC [DEV00].[BB_ELA_PATH_VALIDATION] @ELAAGR1
						EXEC [DEV00].[BB_ELA_PATH_VALIDATION] @ELAAGR2

						SELECT @PROVIDER1 = YFCYPRO_0 FROM YENTLOAAGR WHERE YLONAGR_0 = (SELECT YELAEND_0 FROM YICELA WHERE YELASTR_0 = @ELAAGR1)
						SELECT @PROVIDER2 = YFCYPRO_0 FROM YENTLOAAGR WHERE YLONAGR_0 = (SELECT YELAEND_0 FROM YICELA WHERE YELASTR_0 = @ELAAGR2)
				
						--IF @PROVIDER1 = @ELAFCY1 AND @PROVIDER2 = @ELAFCY2
						IF @PROVIDER1 = @PROVIDER2
						BEGIN -- 4.1.1.1
							select @ELASHTPTH = YELAPATH_0 from YICELA WHERE YELASTR_0 = @ELAAGR1
									
							UPDATE YBBDETAILTEM
							SET YRESVAL_0 = @ELAAGR1
							WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY1
														
							-- Get ELA Paths to expand FCY2
							SET @ELASHTPTH = ''				
							select @ELASHTPTH = YELAPATH_0 from YICELA WHERE YELASTR_0 = @ELAAGR2

							UPDATE YBBDETAILTEM
							SET YRESVAL_0 = @ELASHTPTH
							WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY2
						END -- 4.1.1.1
						ELSE 
						BEGIN -- 4.1.1.2
							UPDATE YBBDETAILTEM
							SET YRESVAL_0 = 'PROVIDER1'
							WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY1

							UPDATE YBBDETAILTEM
							SET YRESVAL_0 = 'PROVIDER2'
							WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY2
						END --4.1.1.2
					END -- 4.1.1
					ELSE
					BEGIN -- 4.1.2
						UPDATE YBBDETAILTEM
						SET YRESVAL_0 = 'ELAGR1'
						WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY1

						UPDATE YBBDETAILTEM
						SET YRESVAL_0 = 'ELAGR2'
						WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY2
					END -- 4.1.2
				END -- 4.1.0
			END -- 4.1
			ELSE
			BEGIN -- 4.2				
				IF @ELACOUNT <> 2
				BEGIN
					-- ELA SITE MISMATCH
					UPDATE YBBDETAILTEM
					SET YRESVAL_0 = 'ELAMIS'
					WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
				END
				ELSE
				BEGIN
					-- SITE MISMATCH
					UPDATE YBBDETAILTEM
					SET YRESVAL_0 = 'FCYMIS'
					WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
				END
			END -- 4.2
		END -- 3
		SET @MINTRANSNBR += 1
	END --2
END -- 1