USE [x3dev0]
GO
/****** Object:  StoredProcedure [DEV00].[BB_IE_TRANSACTION_VALIDATION]    Script Date: 21/11/2018 12:30:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- EXEC [BB_SITE_VALIDATION] 'BB20181100085'
 -- 
ALTER PROCEDURE [DEV00].[BB_IE_TRANSACTION_VALIDATION] --'BB20181100085'
(	
	@YBATNBR VARCHAR(25)	
)
AS
BEGIN
	DECLARE @BATTYP INT,
		    @MINTRANSNBR INT,
			@MAXTRANSNBR INT,
			@MAXFCYCOUNT INT,
			@ELACOUNT    INT,
			@FCYCOUNT	 INT,
			@ELAFCY1	 VARCHAR(10),
			@ELAFCY2	 VARCHAR(10),
			@ELAFCYFND   INT,
			@ELAAGR1	 VARCHAR(50),
			@ELAAGR2	 VARCHAR(50),
			@ELAFCYC1	 INT,
			@ELAFCYC2	 INT,
			@DETLIG1	 INT,
			@DETLIG2	 INT,
			@ELASHTPTH	 VARCHAR(250),
			@ELALIG		 VARCHAR(50)


	SELECT @MAXTRANSNBR = MAX(YTRANSNBR_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR
	SELECT @MINTRANSNBR = MIN(YTRANSNBR_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR
	
	WHILE @MINTRANSNBR  <= @MAXTRANSNBR
	BEGIN
		SELECT @BATTYP = YBATTYP_0 from YBBDETAILTEM Where YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR	
		IF @BATTYP = 1
		BEGIN
			-- CHECK DISTINCT SITE FOR SAME ELA 
			SELECT @ELACOUNT = COUNT(DISTINCT(YELA_0)), @FCYCOUNT = COUNT(DISTINCT(YFCY_0)) FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
			IF @ELACOUNT = 1 AND @FCYCOUNT = 2
			BEGIN
				SELECT @ELALIG = TB.DYELA
				FROM 
				(
				  SELECT distinct(YELA_0) as DYELA
				  FROM YBBDETAILTEM ITM 
				  WHERE ITM.YTRANSNBR_0 = @MINTRANSNBR AND ITM.YBATNBR_0 = @YBATNBR AND ITM.YBATTYP_0 = @BATTYP
				) AS TB;

				IF @ELALIG is null or @ELALIG = ''
				BEGIN
					UPDATE YBBDETAILTEM
					SET YRESVAL_0 = 'NOELA'
					WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
				END
				ELSE
				BEGIN
					UPDATE YBBDETAILTEM
					SET YRESVAL_0 = CONCAT('S',@ELALIG)
					WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
				END
				
			END
			ELSE
			BEGIN
				SELECT @ELAFCY1 = YFCY_0 FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
				AND YFCY_0 NOT IN (SELECT TOP 1 YFCY_0 FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR)
				SELECT @ELAFCY2 = YFCY_0 FROM YBBDETAILTEM WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR
				AND YFCY_0 <> @ELAFCY1
				-- Get ELA Where the Pro
				SELECT @ELAAGR1 = YLONAGR_0 FROM YENTLOAAGR	WHERE YFCYPRO_0 = @ELAFCY1 or YFCYREC_0 = @ELAFCY1
				SELECT @ELAAGR2 = YLONAGR_0 FROM YENTLOAAGR	WHERE YFCYPRO_0 = @ELAFCY2 or YFCYREC_0 = @ELAFCY2
				IF (@ELAAGR1 <> '' AND @ELAAGR2 <> '')
				BEGIN
					EXEC [DEV00].[BB_ELA_PATH_VALIDATION] @ELAAGR1
					EXEC [DEV00].[BB_ELA_PATH_VALIDATION] @ELAAGR2
					-- Get ELA Paths to expand FCY1
					Print '1'
					
					EXEC [BB_ELA_PATH_FIND] @ELAAGR1,@ELAAGR2, @ELAPATH = @ELASHTPTH OUTPUT

					Print '2'
					
					IF (@ELASHTPTH <> '')
					BEGIN			
						Print @ELASHTPTH
						UPDATE YBBDETAILTEM
						SET YRESVAL_0 = @ELAAGR1
						WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY1
					END
					ELSE
					BEGIN
						UPDATE YBBDETAILTEM
						SET YRESVAL_0 = 'FCY1ELAPATH'
						WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY1
						-- Update new path
						UPDATE YICELA
						SET YELAPATH_0 = @ELASHTPTH
						WHERE YELASTR_0 = @ELAAGR1
					END						
					-- Get ELA Paths to expand FCY2
					SET @ELASHTPTH = ''
					EXEC [BB_ELA_PATH_FIND] @ELAAGR2,@ELAAGR1, @ELAPATH = @ELASHTPTH OUTPUT

					IF (@ELASHTPTH <> '')
					BEGIN			
						UPDATE YBBDETAILTEM
						SET YRESVAL_0 = @ELAAGR2
						WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY2
						-- Update new path
						UPDATE YICELA
						SET YELAPATH_0 = @ELASHTPTH
						WHERE YELASTR_0 = @ELAAGR2
					END
					ELSE
					BEGIN
						UPDATE YBBDETAILTEM
						SET YRESVAL_0 = 'FCY2ELAPATH'
						WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY2
					END				

				END
				ELSE
				BEGIN
					-- ELA Provider site not found
					UPDATE YBBDETAILTEM
					SET YRESVAL_0 = 'ELAPROFCY'
					WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY1
					UPDATE YBBDETAILTEM
					SET YRESVAL_0 = 'ELAPROFCY'
					WHERE YTRANSNBR_0 = @MINTRANSNBR AND YBATNBR_0 = @YBATNBR AND YFCY_0 = @ELAFCY2
				END
			END
		END
		set @MINTRANSNBR += 1
	END

END