USE [x3dev0]
GO
/****** Object:  StoredProcedure [DEV00].[BB_ELA_PATH_VALIDATION]    Script Date: 21/11/2018 9:52:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- EXEC [BB_ELA_PATH_VALIDATION] 'MPL_DF_005_016_INT_2'
 -- 
ALTER PROCEDURE [DEV00].[BB_ELA_PATH_VALIDATION] --'MPL_DF_005_063_INT_2'
(	
	@LINE_ELA VARCHAR(50)
)
AS
BEGIN

	DECLARE @LINE_SRC VARCHAR(50),
			@NEXT_ELA VARCHAR(50),
			@ELA_PATH VARCHAR(255),
			@LAST_ELA VARCHAR(50),
			@ORIGLIG_ELA VARCHAR(50)

	SELECT @LINE_SRC = YSRCLONAGR_0 FROM YENTLOAAGR WHERE YLONAGR_0 = @LINE_ELA 
	SET @ORIGLIG_ELA = @LINE_ELA

	-- SOURCE LOAN AGREEMENT MUST BE POPULATED
	IF @LINE_SRC <> ''
	BEGIN

		WHILE (SELECT YSRCLONAGR_0  FROM YENTLOAAGR WHERE YLONAGR_0 = @LINE_ELA) <> ''
		BEGIN	
				
			IF @ELA_PATH <> ''
			BEGIN
				SET @ELA_PATH = CONCAT(@ELA_PATH,',',@LINE_ELA)
			END
			ELSE
			BEGIN
				SET @ELA_PATH = @LINE_ELA
			END
					
			SELECT @NEXT_ELA = YSRCLONAGR_0  FROM YENTLOAAGR WHERE YLONAGR_0 = @LINE_ELA

			IF @NEXT_ELA = '' OR @NEXT_ELA IS NULL
			BEGIN
				SET @LAST_ELA = @LINE_ELA
			END
			ELSE
			BEGIN
				SET @LINE_ELA = @NEXT_ELA	
			END			
			
		END

		SET @ELA_PATH = CONCAT(@ELA_PATH,',',@LINE_ELA)
		IF NOT EXISTS (SELECT 1 FROM YICELA WHERE YELASTR_0 = @ORIGLIG_ELA)
		BEGIN	
			IF @LAST_ELA = '' OR @LAST_ELA IS NULL
			BEGIN
				SET @LAST_ELA = @LINE_ELA
			END	
			INSERT INTO YICELA ([UPDTICK_0],[YELASTR_0],[YELAEND_0],[YELAPATH_0],[CREDATTIM_0],[UPDDATTIM_0],[CREUSR_0],[UPDUSR_0],[AUUID_0])
			VALUES (1,@ORIGLIG_ELA,@LAST_ELA,@ELA_PATH, GETDATE(), GETDATE(),'SQL','SQL',NEWID())			
		END
		ELSE
		BEGIN
			UPDATE YICELA
			SET YELAPATH_0 = @ELA_PATH, YELAEND_0 = @NEXT_ELA
			WHERE YELASTR_0 = @ORIGLIG_ELA
		END	
	END
	ELSE
		BEGIN
			IF NOT EXISTS (SELECT 1 FROM YICELA WHERE YELASTR_0 = @ORIGLIG_ELA)
			BEGIN
				INSERT INTO YICELA ([UPDTICK_0],[YELASTR_0],[YELAEND_0],[YELAPATH_0],[CREDATTIM_0],[UPDDATTIM_0],[CREUSR_0],[UPDUSR_0],[AUUID_0])
				VALUES (1,@ORIGLIG_ELA,'n/a',@LINE_ELA, GETDATE(), GETDATE(),'SQL','SQL',NEWID())
			END
			ELSE
			BEGIN
				UPDATE YICELA
				SET YELAPATH_0 = @LINE_ELA, YELAEND_0 = 'n/a'
				WHERE YELASTR_0 = @ORIGLIG_ELA
			END	
		END
END