USE [x3dev0]
GO
/****** Object:  StoredProcedure [DEV00].[BB_ELA_PATH_FIND]    Script Date: 21/11/2018 9:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- EXEC [BB_ELA_PATH_FIND] 'MPL_DF_005_016_INT_2','MPL_DF_005_067_INT_2'
 -- 
ALTER PROCEDURE [DEV00].[BB_ELA_PATH_FIND] 
(	
	@ELA1 VARCHAR(50),
	@ELA2 VARCHAR(50),
	@ELAPATH VARCHAR(250) OUTPUT	
)
AS
BEGIN

	DECLARE @COUNTER INT,
			@ELAVAL VARCHAR(50),
			@VALFOUND INT

	SET @COUNTER = 0 

	DECLARE ELA_PATH_FIND CURSOR FOR   
	SELECT value FROM YICELA
	CROSS APPLY STRING_SPLIT(YELAPATH_0,',')
	WHERE YELASTR_0 = @ELA1

	OPEN ELA_PATH_FIND
	
	FETCH NEXT FROM ELA_PATH_FIND   
	INTO @ELAVAL  
	
	WHILE @COUNTER = 0  
	BEGIN 		

		IF @ELAPATH <> '' or @ELAPATH is not null
		BEGIN
			SET @ELAPATH = CONCAT(@ELAPATH,',',@ELAVAL)
		END
		ELSE IF @ELAPATH = ',' or @ELAPATH = '' or @ELAPATH is null
		BEGIN
			SET @ELAPATH = @ELAVAL
		END

		SELECT @VALFOUND = COUNT(*) FROM YICELA WHERE YELAPATH_0 LIKE '%'+@ELAVAL+'%' and YELASTR_0 = @ELA2
		
		IF @VALFOUND <> 0
		BEGIN
			SET @COUNTER = 1
		END

		FETCH NEXT FROM ELA_PATH_FIND   
		INTO @ELAVAL 
	END   

	CLOSE ELA_PATH_FIND;  
	DEALLOCATE ELA_PATH_FIND;  		
END