USE x3dev0
GO

DELETE FROM [DEV00].[ZVERLOTD]
INSERT INTO [x3dev0].[DEV00].[ZVERLOTD]
SELECT [UPDTICK_0],[REFLOT_0],[FICHE_0],[ENAFLG_0],[ZFIC_0],[DES_0],[CREDATTIM_0],[UPDDATTIM_0],[AUUID_0],[CREUSR_0]
      ,[UPDUSR_0],[YOBJSPE_0],[YPRINCIP_0],[YPREREQ_0]
FROM [x3dev0].[DEV00].[XVERLOTD]
GO

DELETE FROM [DEV00].[ZVERUSR]
INSERT INTO [x3dev0].[DEV00].[ZVERUSR]
SELECT [UPDTICK_0],[REFLOT_0],[USR_0],[FICHE_0],[INTIT_0],[CREDATTIM_0],[UPDDATTIM_0],[AUUID_0],[CREUSR_0],[UPDUSR_0]
FROM [x3dev0].[DEV00].[XVERUSR]
GO

DELETE FROM [DEV00].[ZVERPAT]
INSERT INTO [x3dev0].[DEV00].[ZVERPAT]
SELECT  [UPDTICK_0],[TYPOBJ_0],[NOMOBJ_0],[VER_0],[CREDAT_0],[CRETIM_0],[CREUPDDAT_0],[CREUPDTIM_0],[FICHE_0],[CODACT_0],[DES_0]
	   ,[TYPMODIF_0],[PATCH_0],[LIVDAT_0],[FLGGEN_0],[REFLOT_0],[USR_0],[CREUSR_0],[INTITOBJ_0],[UPDDAT_0],[UPDUSR_0],[UPDTIM_0]
	   ,[POS_0],[CREDATTIM_0],[UPDDATTIM_0],[AUUID_0]
FROM [x3dev0].[DEV00].[XVERPAT]
GO

