USE [x3dev0]
GO
/****** Object:  StoredProcedure [DEV00].[BB_ENTRY_VALIDATIONS]    Script Date: 21/11/2018 12:52:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- EXEC [BB_ENTRY_VALIDATIONS] 'BB20181100004'
 -- 
ALTER PROCEDURE [DEV00].[BB_ENTRY_VALIDATIONS] 
(	
	@YBATNBR VARCHAR(25)
)
AS
BEGIN

		DECLARE @TRANSNBR INT,
				@JNLCOUNT INT,
				@ENTCOUNT INT
		 
		DECLARE TRANS_VAL CURSOR FOR     
		SELECT DISTINCT YTRANSNBR_0 FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR
  
		OPEN TRANS_VAL    
  
		FETCH NEXT FROM TRANS_VAL     
		INTO @TRANSNBR    
  
		WHILE @@FETCH_STATUS = 0    
		BEGIN
			-- ENTRY TYPE
			SELECT @ENTCOUNT = COUNT(DISTINCT YENTTYP_0)
			FROM YBBDETAILTEM
			WHERE YTRANSNBR_0 = @TRANSNBR and YBATNBR_0 = @YBATNBR
			-- JOURNAL TYPE
			SELECT @JNLCOUNT = COUNT(DISTINCT YJOU_0)
			FROM YBBDETAILTEM 
			WHERE YTRANSNBR_0 = @TRANSNBR and YBATNBR_0 = @YBATNBR
			-- VALIDATION RULE = ALL ENTRIES AND JOURNALS WITHING A TRANSACTION SHOULD BE THE SAME
			IF @ENTCOUNT > 1 AND @JNLCOUNT > 1
			BEGIN
				UPDATE YBBDETAILTEM
				SET YRESVAL_0 = 'ENTVAL_ERR'
				WHERE YTRANSNBR_0 = @TRANSNBR
			END

			FETCH NEXT FROM TRANS_VAL     
			INTO @TRANSNBR   
   
		END     
		CLOSE TRANS_VAL;    
		DEALLOCATE TRANS_VAL;  


END

