USE [x3dev0]
GO
/****** Object:  StoredProcedure [DEV00].[BB_SITE_VALIDATION]    Script Date: 21/11/2018 12:52:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 -- EXEC [BB_SITE_VALIDATION] 'BB20181000027'
 -- 
ALTER PROCEDURE [DEV00].[BB_SITE_VALIDATION] 
(	
	@YBATNBR VARCHAR(25)
)
AS
BEGIN

	DECLARE @BATTYP	 INT,
			@SITE1		 VARCHAR(5),
			@SITE2		 VARCHAR(5),
			@MINTRANSNBR INT,
			@MAXTRANSNBR INT,
			@MAXFCYCOUNT INT


	SELECT @MAXTRANSNBR = MAX(YTRANSNBR_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR
	SELECT @MINTRANSNBR = MIN(YTRANSNBR_0) FROM YBBDETAILTEM WHERE YBATNBR_0 = @YBATNBR

	WHILE @MINTRANSNBR <= @MAXTRANSNBR
	BEGIN
		-- CHECK THE TRANSACTION NUMBER BATCH TYPE
		SELECT @BATTYP = YBATTYP_0
		FROM YBBDETAILTEM
		WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR 

		-- COUNT NUMBER OF SITES PER TRANSACTION NUMBER
		IF @BATTYP = 1 -- IE
		BEGIN
			SELECT @MAXFCYCOUNT = COUNT(DISTINCT YFCY_0)
			FROM YBBDETAILTEM
			WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR AND YBATTYP_0 = @BATTYP
			IF @MAXFCYCOUNT <> 2 
			BEGIN
				UPDATE YBBDETAILTEM 
				SET YRESVAL_0 = 'FCY1'
				WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR
			END
		END
		IF @BATTYP = 2 -- Journal
		BEGIN
			SELECT @MAXFCYCOUNT = COUNT(DISTINCT YFCY_0)
			FROM YBBDETAILTEM
			WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR AND YBATTYP_0 = @BATTYP
			IF @MAXFCYCOUNT <> 1 
			BEGIN
				UPDATE YBBDETAILTEM 
				SET YRESVAL_0 = 'FCY2'
				WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR
			END
		END
		IF @BATTYP = 3 -- Cash
		BEGIN
			SELECT @MAXFCYCOUNT = COUNT(DISTINCT YFCY_0)
			FROM YBBDETAILTEM
			WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR AND YBATTYP_0 = @BATTYP
			IF @MAXFCYCOUNT <> 1 
			BEGIN
				UPDATE YBBDETAILTEM 
				SET YRESVAL_0 = 'FCY3'
				WHERE YBATNBR_0 = @YBATNBR AND YTRANSNBR_0 = @MINTRANSNBR
			END
		END
		SET @MINTRANSNBR += 1
	END	

END

